<ion-header>
  <ion-navbar>
    <ion-title>
      MercadoSearch Bonampa312
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <div text-center>
    <ion-img style="width:70px; height:70px; background:transparent;" [src]="mercadolibreLogo"></ion-img>
  </div>
  <ion-item>
    <ion-input type="text" placeholder="Search" [(ngModel)]="itemName"></ion-input>
  </ion-item>
  <button ion-button style="background-color:#f7e100; color:#333;" round (click)="searchItems()">
    Go for it
  </button>
  <ion-list>
    <div style="margin-top:20px;" ion-item *ngFor="let item of items">
      <a>{{item.title}}</a>
            <img style="float:left; margin:10px;" src={{item.thumbnail}}/>
            <div >
              <div>Price: {{item.price}} {{item.currency_id}}</div>
              <div>Sold quantity: {{item.sold_quantity}}</div>
              <a href={{item.permalink}}>View in Mercadolibre</a>
            </div>
    </div>
  </ion-list>
  <ion-fab right bottom *ngIf="listScroll">
    <button ion-fab mini style="background-color:#f7e100" (click)="goTop()">
      <ion-icon name="arrow-dropup"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
